/* _content/SampleMvc/Views/shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-zj5kq7in8w] {
  background-color: #181818;
}
.header[b-zj5kq7in8w] {
  background-color: #181818;
}

a.navbar-brand[b-zj5kq7in8w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zj5kq7in8w] {
  color: #030405;
}

.btn-primary[b-zj5kq7in8w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.text-primary[b-zj5kq7in8w] {
  color: #fff;
}

.nav-pills .nav-link.active[b-zj5kq7in8w],
.nav-pills .show > .nav-link[b-zj5kq7in8w] {
  /* color: #fff; */
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zj5kq7in8w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zj5kq7in8w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zj5kq7in8w] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-zj5kq7in8w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zj5kq7in8w] {
  background-color: #181818;
  /* color: #fff; */
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
